*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* transition: .5s ease-in-out; */
  /* добавим плавность переходов для всех элементов страницы*/
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;
}

img {
  display: block;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Forum", cursive;
  font-weight: normal;
  letter-spacing: 1px;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 28px;
  color: #e0e0e0;
  background-color: #131313;
  height: 100%;
}

section {
  margin-bottom: 150px;
}

/* добавим очистку потока для всех контейнеров, внутри которых задано обтекание дочерних элементов */
/* стилевой класс, который управляет шириной контейнера сетки*/

.container {
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}

.vertical-lines {
  position: fixed;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 1260px;
  z-index: -1;
}
.line {
  width: 100%;
  position: relative;
}
.line:nth-child(2):before {
  border: 0;
}
.line::before {
  content: "";
  display: block;
  width: 100%;
  border-right: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  opacity: 0.2;
  height: 2000px;
}

/* ШАПКА */
.header-back {
  width: 100%;
}
.header-index {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  height: 120px;
  font-family: "Forum";
  font-weight: 400;
  font-size: 30px;
  line-height: 33px;
  text-align: right;
  margin-bottom: 15px;
}
.header-index-right-block {
  display: flex;
  justify-content: space-between;
}

.logo-group {
  display: grid;
  width: 68px;
  height: 58px;
  justify-content: center;
}

.header-logo-crown {
  width: 60px;
  height: 50px;
}

.header-languages {
}

.header-burger {
  display: none;
}

.header-networks {
  display: flex;
  width: 96px;
  justify-content: space-between;
}

/*  */
/* СЕКЦИЯ 1 */
/*  */

.about-imperium {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 7fr 9fr;
  gap: 0px 0px;
  grid-template-areas: "main-imperium-name about-imperium-img-div about-imperium-img-div" "about-imperium-text about-imperium-img-div about-imperium-img-div" ". . .";
}

.main-imperium-name {
  position: relative;
  grid-area: main-imperium-name;
  top: -30px;
}

.about-imperium-img-div {
  grid-area: about-imperium-img-div;
  margin-left: -293px;
  overflow: hidden;
}

.about-imperium-text {
  grid-area: about-imperium-text;
  width: 52%;
  font-size: 25px;
  line-height: 140%;
  display: grid;
  align-content: space-between;
}

.about-imperium-img {
  width: 100%;
  height: 100%;
}

.main-imperium-name-h1 {
  position: relative;
  font-family: "Forum";
  font-size: 183px;
  line-height: 204px;
  color: #ffc915;
  z-index: 99999;
  left: -9px;
}

.main-imperium-name h2 {
  font-family: "Forum";
  font-size: 54px;
  line-height: 60px;
  color: #ffc915;
}

.about-imperium-item {
  align-self: end;
}

.yellow-text {
  color: #ffc915;
}

/*  */
/* ХЕДЕР ДЛЯ СЕКЦИЙ */
/*  */

.section-header {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.section-header-number {
  font-family: "Forum";
  font-size: 52px;
  line-height: 60px;
  color: #ffc915;
  margin-right: 14.3%;
  margin-left: auto;
}

.section-header-number.anim-active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.section-header-description {
  font-family: "Forum";
  font-size: 52px;
  line-height: 60px;
  color: #ffc915;
}
.section-header-description.anim-active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.header-hr {
  border: 1px solid #ffc915;
  color: #ffc915;
  background-color: #ffc915;
  width: 66.6%;
  margin-left: auto;
  margin-bottom: 71.5px;
}

.header-hr.anim-active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.burger-form-background {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  top: 0;
  transition: all 0.3s ease 0s;
}
.burger-form-background-close {
  top: -230%;
  transition: all 0.3s ease 0s;
}

.burger-form {
  position: relative;
  background-color: #000000;
  width: 100%;
  height: 700px;
}
.burger-header-container {
  width: 97%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.burger-header {
  width: 100%;
  height: 80px;
  background-color: #1b1b1b;
}

.logo-burger {
  width: 55px;
  height: auto;
}

.close-burger {
  width: 24px;
  height: auto;
}

.burger-container {
  background-image: url(../images/crown.svg);
  background-repeat: no-repeat;
  height: 89%;
  width: 736px;
  margin: 0 auto;
}
.burger-section-container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 427px;
  margin: auto;
  height: 100%;
  align-items: center;
}

.burger-section-list {
  width: 380px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.burger-section-item {
}

.burger-section-link {
  text-decoration: none;
  color: #e0e0e0;
  font-size: 22px;
  line-height: 140%;
}

.burger-nav-menu {
  height: 399px;
  z-index: 100;
}
.burger-nav-menu-ul {
  height: 100%;
  list-style: none;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 30px;
}

.burger-nav-menu-ul::before {
  content: "";
  display: block;
  background: #e0e0e0;
  width: 1px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0.5rem;
  bottom: 0.5rem;
  opacity: 0.2;
  z-index: 0;
}

.burger-nav-menu-a {
  height: 15px;
  position: relative;
  display: block;
  width: 15px;
  z-index: 1;
  background-image: url(../images/icons/Ellipse-burger.svg);
  background-repeat: no-repeat;
  background-color: #000000;
  border-radius: 30%;
}
.burger-nav-menu-a-active {
  background-image: url(../images/icons/ellipse-burger-active.svg);
  background-repeat: no-repeat;
  width: 27px;
  height: 27px;
}

.burger-header-networks {
  display: flex;
  width: 73px;
  height: 22px;
  justify-content: space-between;
  align-items: flex-start;
}
.header-networks-img {
  width: 22px;
  height: 22px;
}

/*  */
/* СЕКЦИЯ 1 */
/*  */

.your-teacher-section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 2fr 190px;
  gap: 0px 0px;
  grid-template-areas: "photo-carusel-list your-teacher-text-block ." "medal your-teacher-text-block ." ". . .";
}

.photo-carusel-list {
  grid-area: photo-carusel-list;
  width: 76%;
  box-sizing: border-box;

  text-align: center;
  overflow: hidden;
}
.delete-text {
  display: inline;
}
.medal {
  grid-area: medal;
  width: 76%;
  display: flex;
}

.medal-img {
  margin: 0;
  width: 56.5%;
  margin: auto auto;
}

.your-teacher-text-block {
  margin-right: auto;
  grid-area: your-teacher-text-block;
  font-size: 25px;
  line-height: 140%;
  width: 95.8%;
  height: 100%;
  display: grid;
  align-items: stretch;
}

.p-text a {
  color: #00aff0;
}
.p-text span {
  color: #ffc915;
}

.slick-dots {
  position: relative;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 55%;
  height: 40px;
}

.slick-dots li {
  display: grid;
  justify-content: center;
  align-items: center;
}

.slick-dots li button {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 0.5px solid #e0e0e0;
}

li.slick-active button {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #ffc915;
}

.slick-active button::before {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #ffc915;
}

.kate-photo {
  width: 100%;

  margin-bottom: 15px;
}

/*  */
/* Центровое примечание */
/*  */

.center-text-block {
  text-align: center;
  margin-top: 80px;
}

.center-hr {
  background-color: #ffc915;
  border: #ffc915 dashed 0.5px;

  color: #ffc915;
  width: 33.3%;
  margin: 0 auto;
}

.center-text-p {
  font-family: "Forum";
  font-size: 35px;
  line-height: 140%;
  color: #ffc915;
  margin: 15px 0px 15px 0px;
}

/*  */
/* Секция 2 */
/*  */

.about-webcam-block {
  display: flex;
  justify-content: space-between;
}

.about-webcam-img-block {
  width: 618px;
}

.about-webcam-text {
  display: grid;
  width: 43.4%;
  font-size: 25px;
  line-height: 140%;
  align-items: stretch;
}

.center-text-p a {
  color: #00aff0;
  text-decoration: underline;
}

/*  */
/* Секция 3 */
/*  */

.about-studio-carusel {
  display: flex;
  align-items: center;
  margin-bottom: 70px;
  justify-content: center;
}

.about-slider {
  width: 1066px;
  max-height: 596px;
}
.yellow-text {
  display: inline;
}

.about-slider-list {
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.about-slider-list::-webkit-scrollbar {
  width: 0;
}

.about-slider__item {
  min-width: 100%;
  width: 1066px;
  max-height: 596px;
  scroll-snap-align: center;
}

.about-studio-button-block {
  display: grid;
  align-content: space-between;
  width: 84px;
  height: 135px;
  margin-left: 74px;
}

.about-slider .slick-dots {
  flex-direction: column;
  height: 165px;
  width: 30px;
  margin-left: 15px;
}

.about-slider .slick-dots li {
  width: 27px;
  height: 27px;
}
.about-slider .slick-dots li button::before {
  top: 0;
  left: 0;
}

.about-slider .slider {
  display: flex;
  align-items: center;
}

.about-studio-text {
  font-size: 25px;
  line-height: 140%;
  letter-spacing: -0.02em;
  width: 83.4%;
  min-height: 378px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}

/*  */
/* Секция 4 */
/*  */

.who-we-search-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
}

.who-we-search-item {
  display: flex;
  align-items: center;
}

.who-we-search-number {
  font-family: "Forum";
  font-size: 180px;
  line-height: 140px;
  text-align: center;
  color: #ffc915;
  opacity: 0.2;
  border-right: 1px solid #ffc915;
  padding-right: 9px;
  align-self: stretch;
}

.who-we-search-text {
  font-size: 18px;
  line-height: 140%;
  margin-left: 23px;
  width: 50%;
}

/*  */
/* Секция 5 */
/*  */

.pluses-webcam {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.pluses-webcam-col {
  width: 70.2%;
}

.pluses-webcam-krown {
  display: block;
  position: relative;
  width: 100%;
  margin: auto 0 auto 0;
}

.pluses-webcam-col:first-child {
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
}

.pluses-webcam-item {
  font-size: 20px;
  line-height: 140%;
  display: grid;
  align-content: space-between;
  margin-bottom: 61px;
}

.pluses-webcam-item:last-child {
  margin-bottom: 0;
}

.pluses-webcam-text {
  margin-top: 30px;
}

.pluses-webcam-col:nth-child(3) {
  padding-top: 70px;
}

/*  */
/* Секция 6 */
/*  */

.adventages-work {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "calculator-earn adventages-text-block" "adventages-crown-block adventages-text-block";
}

.calculator-earn {
  display: grid;
  background: #1b1b1b;
  border: 2px solid rgba(255, 201, 21, 0.2);
  width: 90%;
  height: 670px;
  text-align: center;
}

.calculator-button-list {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.calculator-button-item {
  width: 27%;
  display: inline-block;
}

.calculator-button-item input[type="radio"] {
  display: none;
}

.calculator-button-item label {
  display: block;
  background-color: transparent;
  border: 0.5px solid #ffc915;
  height: 60px;
  color: #ffc915;
  font-family: "Roboto";
  font-size: 20px;
  line-height: 23px;
  padding-top: 18px;
  user-select: none;
  cursor: pointer;
}
.calculator-button-item label:hover {
  background-color: rgba(255, 201, 21, 0.2);
  border: 0.5px solid #ffc915;
  color: #ffc915;
}

.calculator-button-item input[type="radio"]:checked + label {
  background-color: #ffc915;
  color: #000000;
}

.calculator-button-input-time {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.calculator-button-input:active {
  background-color: #ffc915;
  color: #000000;
  border: 0;
}

.calculator-button-input:hover {
  background-color: rgba(255, 201, 21, 0.2);
  color: #ffc915;
  border: 1px solid #ffc915;
}

.calculator-label {
  margin-top: auto;
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  height: 23px;
}

.calculator-earn-money {
  height: 60%;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  text-align: center;
  color: #ffc915;
  margin-top: auto;
}

.calculator-earn-text {
  width: 67%;
  height: 65%;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  margin: 0 auto;
  padding-top: 11px;
}

.adventages-text-block {
  grid-area: adventages-text-block;
}

.adventages-text-item {
  width: 50%;
}

.adventages-text-right {
  margin-left: auto;
}

.adventages-text-h {
  font-size: 35px;
  line-height: 39px;
  color: #ffc915;
}

.adventages-text-item-p {
  font-size: 20px;
  line-height: 140%;
  margin-top: 16px;
}

.adventages-crown-block {
  grid-area: adventages-crown-block;
  width: 92.6%;
}

.adventages-crown-img {
  margin: 0 auto;
  width: 50.2%;
}

/*  */
/* Секция 7 */
/*  */

.start-work-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 13.3% 0;
}

.start-work-item {
  display: flex;
  vertical-align: middle;
  height: 100%;
  align-items: center;
}

.start-work-number {
  display: block;
  min-width: 90px;
  font-size: 180px;
  line-height: 150px;
  text-align: center;
  color: #ffc915;
  opacity: 0.2;
  border-right: 1px solid #ffc915;
}

.start-work-text-block {
  height: 100%;
  margin-left: 25px;
  display: grid;
  align-content: space-between;
}

.start-work-text:not(:first-child) {
  margin-left: 25px;
}

.start-work-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

.start-work-button {
  display: grid;
  align-content: center;
  text-align: center;
  font-size: 18px;
  line-height: 18px;
  width: 62%;
  height: 53px;
  color: #ffc915;
  background: rgba(255, 201, 21, 0.2);
  border: 1px solid #ffc915;
  cursor: pointer;
}
.start-work-button:hover {
  background-color: #ffc915;
  color: #000000;
}

.start-work-item:nth-child(4) p {
  width: 280px;
}

.start-work-item:nth-child(6) p {
  width: 225px;
}

.start-form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999999;
}
.start-form-overlay-close {
  display: none;
}

#start-form {
  position: relative;
  margin: auto;
  background-color: #1b1b1b;
  width: 550px;
  height: 650px;
}

.start-work-form {
  color: #ffc915;
}
.form-close {
  position: absolute;
  padding: 0;
  top: 0;
  right: 0;
  width: 14px;
  height: 14px;
  cursor: pointer;
  margin: 26px;
}
.start-form-container {
  height: 100%;
  display: grid;
  text-align: center;
  width: 91%;
  margin: 0 auto;
  padding: 50px 0 30px;
  align-content: space-around;
}

.start-form-h {
  text-align: start;
  font-family: "Forum";
  font-size: 32px;
  line-height: 35px;
  margin-bottom: 2%;
}

.start-form-hr {
  border: 0.5px solid #ffc915;
}

.start-form-data-list {
  display: flex;
  justify-content: space-between;
  height: 72px;
}

.start-form-data-item {
  display: grid;
  align-content: space-between;
  text-align: center;
  width: 26%;
}
.start-form-lvl {
  height: 72px;
  display: grid;
  align-content: space-between;
}
.start-form-h4 {
  font-size: 20px;
  line-height: 22px;
}
.start-form-send-block {
  margin: 0 auto;
  width: 240px;
  height: 84px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.start-form-send {
  display: block;
  width: 55%;
  height: 40px;
  background-color: #ffc915;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 19px;
  border: 0;
}
.start-form-send:hover {
  color: #ffc915;
  background-color: rgba(255, 201, 21, 0.2);
  border: 0.5px solid #ffc915;
}
.start-form-privacy {
  font-size: 12px;
  line-height: 140%;
  color: #fff;
}
.personal-data {
  color: #00aff0;
  text-decoration: underline;
}

.start-form-input-text {
  width: 100%;
  height: 30px;
  background-color: transparent;
  border: 0.5px solid #ffc915;
  text-align: center;
  color: #ffc915;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 19px;
}
.start-form-input-text::placeholder {
  color: rgba(255, 201, 21, 0.2);
}

.button-cover,
.knobs,
.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button {
  position: relative;

  width: 100%;
  height: 30px;
  overflow: hidden;
}

.button.r,
.button.r .layer {
  border-radius: 100px;
}

.button.b2 {
  border-radius: 2px;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;

  transition: 0.3s ease all;
  z-index: 1;
}

#button-17 .knobs:before,
#button-17 .knobs span {
  content: "Yes";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  color: #000000;
  line-height: 19px;
  font-size: 16px;
  text-align: center;
  padding: 6px 4px;
  width: 65px;
}

#button-17 .knobs:before {
  transition: 0.3s ease all, left 0.5s cubic-bezier(0.18, 0.89, 0.35, 1.15);
  z-index: 2;
  height: 100%;
  width: 50%;
}

#button-17 .knobs span {
  background-color: #ffc915;

  transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
  z-index: 1;
}

#button-17 .checkbox:checked + .knobs:before {
  content: "No";
  left: 65px;
}

#button-17 .checkbox:checked + .knobs span {
  left: 65px;
  background-color: #ffc915;
}
.knobs {
  border: 1px solid #ffc915;
}

.start-form-lvl {
}

.lvl-btn-list {
  display: flex;
  justify-content: space-between;
}

.lvl-btn-item {
}

/* .lvl-btn-input {
  width: 26%;
  background-color: transparent;
  border: 0.5px solid #ffc915;
  height: 60px;
  color: #ffc915;
  font-family: "Roboto";
  font-size: 20px;
  line-height: 23px;
} */
.lvl-radio-btn {
  width: 26%;
  display: inline-block;
  margin: 0 5px 0 0;
  position: relative;
}
.lvl-radio-btn input[type="radio"] {
  display: none;
}

.lvl-radio-btn label {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 0.5px solid #ffc915;
  height: 30px;
  color: #ffc915;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 19px;
  user-select: none;
  cursor: pointer;
}
.lvl-radio-btn input[type="radio"]:checked + label {
  background-color: #ffc915;
  color: #000000;
}

.start-form-input-text-size {
  font-size: 14px;
  line-height: 16px;
}

/*  */
/* Секция 8 */
/*  */

.review-video {
  width: 100%;
}

#video {
  width: 100%;
  position: relative;
}

#video-over {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: none;
}

#video-play {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 9.5%;
  height: 23%;
  z-index: 1;
  cursor: pointer;
  transition: 0.2s ease;
  transition-property: opacity, visibility;
  background-image: url(../images/icons/button_play.svg);
  background-repeat: no-repeat;
}

#video-play::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 21px;
  width: 0;
  height: 0;
  border-top-width: 12px;
  border-bottom-width: 12px;
  border-left-color: #fff;
  border-right-width: 0;
  transition: transform 0.2s ease;
}

#video-play:hover::before {
  transform: scale(1.2);
}

.video {
  width: 100%;
  display: block;
}

/*  */
/* Секция 9 */
/*  */

.contacts {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contacts-items {
  height: 110%;
  display: grid;
  align-content: space-between;
}

.contacts-adress {
  font-size: 25px;
  line-height: 140%;
  text-decoration-line: underline;
  color: #00aff0;
}

.contacts-social-networks {
  display: flex;
  width: 88px;
  justify-content: space-between;
}

.contacts-logo {
  width: 16%;
  margin-left: auto;
}

section:last-child {
  margin-bottom: 72px;
}

/*  */
/* ФУУТЕР */
/*  */

.index-footer {
  background-color: #ffc915;
  height: 120px;
}

.container-footer {
  display: flex;
  background-color: #ffc915;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.footer-text {
  font-size: 25px;
  line-height: 29px;
  color: #000000;
}

.privacy {
  font-size: 25px;
  line-height: 29px;
  text-align: right;
  text-decoration-line: underline;
  color: #000000;
}

.page-nav {
  position: fixed;
  top: 25%;
  right: 10px;
  z-index: 100;
  width: 30px;
}

.page-nav-ul {
  list-style: none;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 389px;
  justify-content: space-between;
  align-items: center;
}

.page-nav-ul::before {
  content: "";
  display: block;
  background: #e0e0e0;
  width: 1px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0.5rem;
  bottom: 0.5rem;
  opacity: 0.2;
  z-index: 0;
}
.page-nav-p {
  position: absolute;
  right: 50px;
  font-size: 16px;
  line-height: 140%;
  text-align: right;
  width: 300px;
  display: none;
}
.page-nav-ul li {
  display: flex;
  align-items: center;
}
.page-nav-ul li:hover .page-nav-p {
  display: block;
}

.page-nav-link {
  height: 15px;
  position: relative;
  display: block;
  width: 15px;
  z-index: 1;
  background-image: url(../images/icons/Ellipse-burger.svg);
  background-repeat: no-repeat;
  background-color: #131313;
  border-radius: 50%;
}
.page-nav-link-active {
  background-image: url(../images/icons/ellipse-burger-active.svg);
  width: 27px;
  height: 27px;
}
.page-nav-ul li:hover .page-nav-link {
  background-image: url(../images/icons/ellipse-burger-hover.svg);
  width: 27px;
  height: 27px;
}
@media screen and (min-width: 1260px) {
  .container {
    width: 1260px;
  }
  .section-header-number {
    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 1s;
  }

  .section-header-number.anim-active {
    transform: translate(0px, 0px);
    opacity: 1;
  }

  .section-header-description {
    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 1s;
  }
  .section-header-description.anim-active {
    transform: translate(0px, 0px);
    opacity: 1;
  }

  .header-hr {
    transform: translate(200%, 0px);
    opacity: 0;
    transition: all 1s ease 0s;
  }

  .header-hr.anim-active {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}

@media screen and (max-width: 1260px) {
  section {
    margin-bottom: 120px;
  }
  .container {
    width: 910px;
  }
  .vertical-lines {
    width: 910px;
  }
  .about-imperium-text {
    width: 54%;
  }
  .about-imperium-img {
    height: 100%;
    object-fit: cover;
  }
  .section-header-number {
    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 1s;
  }

  .section-header-number.anim-active {
    transform: translate(0px, 0px);
    opacity: 1;
  }

  .section-header-description {
    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 1s;
  }
  .section-header-description.anim-active {
    transform: translate(0px, 0px);
    opacity: 1;
  }

  .header-hr {
    transform: translate(200%, 0px);
    opacity: 0;
    transition: all 1s ease 0s;
  }

  .header-hr.anim-active {
    transform: translate(0px, 0px);
    opacity: 1;
  }
  .your-teacher-section {
    grid-template-rows: 1fr 1fr;
  }
  .photo-carusel-list {
    width: 90%;
    height: 99%;
  }

  .medal {
    width: 90%;
  }
  .medal-img {
    width: 180px;
    height: 180px;
    margin: 60px auto;
  }
  .your-teacher-text-block {
    height: 102%;
    width: 100%;
  }
  .photo-carusel-list {
    width: 287px;
    height: 496px;
  }
  .kate-photo {
    width: 287px;
    height: 445px;
  }
  .center-hr {
    width: 31.7%;
  }

  .about-webcam-img-block {
    display: none;
  }
  .about-webcam-text {
    width: 100%;
    height: 343px;
    align-content: space-between;
  }
  .about-slider {
    width: 910px;
    max-height: 596px;
  }
  .about-slider .slick-dots {
    margin-left: 40px;
    margin-right: 10px;
  }
  .about-slider__item {
    width: 910px;
  }
  .who-we-search-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 373px;
    justify-content: space-between;
  }
  .who-we-search-item {
    width: 50%;
    justify-content: center;
  }
  .who-we-search-number {
    width: 132px;
  }
  .pluses-webcam-krown {
    display: none;
  }
  .pluses-webcam {
    grid-template-columns: 3fr 5fr 5fr;
  }
  .pluses-webcam-col {
    width: 82.5%;
  }
  .pluses-webcam-col:nth-child(3) {
    margin-left: auto;
  }

  .adventages-work {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 4fr;
    gap: 0px 0px;
    grid-template-areas:
      "adventages-crown-block calculator-earn calculator-earn"
      "adventages-text-block adventages-text-block adventages-text-block"
      ". . .";
  }
  .adventages-crown-block {
    grid-area: adventages-crown-block;
    display: grid;
    align-items: center;
  }
  .adventages-crown-img {
    width: 106px;
    height: 324px;
  }
  .calculator-earn {
    width: 62%;
    grid-area: calculator-earn;
  }
  .adventages-text-block {
    margin-top: 60px;
    grid-area: adventages-text-block;
  }
  .adventages-text-item {
    width: 48.7%;
  }

  .start-work-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 600px;
    gap: 40px;
  }
  .start-work-item {
    width: 46.2%;
    height: 28%;
  }
  .start-work-number {
    min-width: 132px;
    display: block;
    line-height: 170px;
  }
  .start-work-button {
    width: 71%;
  }
  #myVideo {
    width: 100%;
    height: 100%;
  }
  #video-play {
    width: 13.5%;
    height: 34%;
  }
  .contacts-logo {
    width: 25%;
  }
}

@media screen and (max-width: 999px) {
  section {
    margin-bottom: 100px;
  }
  .container {
    width: 737px;
  }
  .vertical-lines {
    width: 737px;
  }
  .header-back {
    background-color: #1b1b1b;
    position: fixed;
    margin-bottom: 20px;
    z-index: 50000;
  }
  .header-index {
    width: 737px;
    height: 60px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-bottom: 0;
    z-index: 300000;
  }
  .logo-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55px;
    height: 46px;
    justify-content: space-between;
  }

  .header-logo-crown {
    width: 90%;
    height: 60%;
  }

  .header-index-right-block {
    display: flex;
    justify-content: space-between;
  }
  .header-networks {
    display: none;
  }
  .header-burger {
    display: block;
    width: 43px;
  }
  .about-imperium {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .main-imperium-name {
    width: 100%;
    text-align: center;
    top: 0;
    margin: 50px 0 65px;
  }
  .main-imperium-name-h1 {
    font-size: 130px;
    line-height: 144px;
    left: 0;
    z-index: 1;
  }
  .main-imperium-name h2 {
    font-size: 45px;
    line-height: 50px;
  }
  .about-imperium-img-div {
    width: 358px;
    margin-left: 0;
    order: 1;
  }
  .about-imperium-img {
  }
  .about-imperium-text {
    width: 348px;
    font-size: 22px;
    line-height: 140%;
  }

  .section-header-description {
    font-size: 44px;
    line-height: 50px;
  }
  .section-header-number {
    font-size: 44px;
    line-height: 50px;
  }
  .photo-carusel-list {
    width: 200px;
    height: 418px;
    text-align: center;
  }
  .kate-photo {
    position: relative;
    width: 130%;
    height: 368px;
    overflow: hidden;
    text-align: center;
  }
  .slick-dots {
    width: 78%;
  }
  .slick-slide {
    width: 200px;
    display: flex;
    justify-content: center;
  }
  .your-teacher-text-block {
    font-size: 22px;
    line-height: 140%;
  }
  .medal-img {
    width: 146px;
    height: 146px;
  }
  .center-text-p {
    font-size: 28px;
    line-height: 140%;
  }
  .about-webcam-text {
    font-size: 22px;
    line-height: 140%;
  }
  .about-studio-text {
    font-size: 22px;
    line-height: 140%;
    width: 100%;
    min-height: 392px;
  }
  .about-slider {
    width: 737px;
    max-height: 596px;
  }
  .about-slider__item {
    width: 737px;
  }
  .about-slider .slick-slide {
    width: 737px;
  }
  .about-studio-carusel {
    margin-bottom: 0;
  }
  .who-we-search-list {
    height: 343px;
  }
  .who-we-search-text {
    font-size: 20px;
  }
  .who-we-search-number {
    width: 106px;
    padding-right: 0;
  }
  .who-we-search-item {
    width: 52%;
  }
  .pluses-webcam-col:first-child {
    display: none;
  }
  .pluses-webcam {
    grid-template-columns: 1fr 1fr;
  }
  .pluses-webcam-col {
    width: 74%;
    margin: 0 auto;
  }
  .pluses-webcam-col:nth-child(3) {
    margin: 0 auto;
  }
  .pluses-webcam-text {
    font-size: 22px;
    line-height: 140%;
  }
  .calculator-earn {
    width: 76.5%;
  }
  #calculator-earn-for div label {
    font-size: 18px;
  }
  .adventages-text-block {
    margin-top: 30px;
  }
  .adventages-work {
    grid-template-rows: 2fr 9fr;
  }
  .adventages-text-h {
    font-size: 28px;
    line-height: 31px;
  }
  .adventages-text-item-p {
    font-size: 20px;
    line-height: 140%;
  }
  .start-work-list {
    gap: 25px;
  }
  .start-work-number {
    min-width: 106px;
  }
  .start-work-item {
    width: 360px;
  }
  #video-play {
    width: 120px;
    height: 120px;
  }
  #video {
    height: 421px;
  }
  #myVideo {
    width: 140%;
  }
  .contacts {
    grid-template-columns: 2fr 1fr;
  }
  .contacts-adress {
    font-size: 22px;
    line-height: 140%;
  }
  .contacts-logo {
    width: 100px;
    height: 86px;
  }
  .index-footer {
    height: 100px;
  }
  .page-nav {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  section {
    margin-bottom: 70px;
  }
  .container {
    width: 440px;
  }
  .vertical-lines {
    width: 440px;
  }
  .line:nth-child(1)::before {
    border-right: 0;
  }
  .line:nth-child(3)::before {
    border-left: 0;
  }

  .header-index {
    width: 440px;
    height: 45px;
    grid-template-columns: 1fr 1fr;
  }
  .logo-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 94px;
    height: 22px;
    justify-content: space-between;
  }

  .header-logo-crown {
    width: 33px;
    height: 100%;
  }
  .header-logo-text {
    width: 54px;
    height: 8px;
  }
  .header-burger {
    width: 27px;
    height: 22px;
  }

  .header-burger img {
    width: 100%;
    height: 100%;
  }

  .header-languages-btn {
    font-size: 20px;
    line-height: 22px;
  }

  .main-imperium-name {
    margin: 50px 0 30px;
  }

  .main-imperium-name-h1 {
    font-size: 100px;
    line-height: 110px;
  }
  .main-imperium-name h2 {
    font-size: 28px;
    line-height: 50px;
  }
  .about-imperium-img-div {
    order: 0;
    width: 100%;
  }
  .about-imperium-text {
    margin-top: 40px;
    width: 100%;
    font-size: 16px;
    line-height: 140%;
    height: 126px;
  }
  .section-header {
    grid-template-columns: 2fr 9fr;
  }
  .section-header-number {
    font-size: 25px;
    line-height: 29px;
  }
  .section-header-description {
    font-size: 25px;
    line-height: 29px;
  }
  .delete-text {
    display: none;
  }
  .header-hr {
    width: 81.8%;
    margin-bottom: 40px;
  }
  .your-teacher-section {
    display: flex;
    flex-direction: column;
  }
  /* .slick-dots {
    display: none;
  } */
  .slick-slide {
    width: 310px;
    margin-right: 30px;
    height: 430px;
  }
  .photo-carusel-list {
    width: 100%;
  }
  .kate-photo {
    width: 310px;
    height: 430px;
  }
  .medal {
    order: 1;
    width: 100%;
  }
  .medal-img {
    width: 250px;
    height: 250px;
    margin: 40px auto 0;
  }
  .your-teacher-text-block {
    margin-top: 40px;
    height: 546px;
    font-size: 16px;
    line-height: 140%;
  }
  .center-text-block {
    margin-top: 40px;
  }
  .center-text-p {
    font-size: 19px;
    line-height: 140%;
  }
  .center-hr {
    width: 66.6%;
  }
  .about-webcam-text {
    font-size: 16px;
    line-height: 140%;
    height: 258px;
  }
  .about-slider {
    width: 440px;
  }
  .about-slider__item {
    width: 100%;
  }
  .about-slider .slick-slide {
    width: 400px;
    height: auto;
    margin-right: 20px;
  }

  .about-studio-text {
    font-size: 16px;
    line-height: 140%;
    min-height: 346px;
  }
  .about-studio-carusel {
    margin-bottom: 40px;
  }
  .who-we-search-list {
    margin: 0 auto;
    width: 320px;
    height: 477px;
  }
  .who-we-search-item {
    width: 100%;
  }
  .who-we-search-number {
    font-size: 130px;
    line-height: 100px;
    width: 82px;
  }
  .who-we-search-text {
    font-size: 16px;
    line-height: 140%;
    width: 60%;
  }
  .pluses-webcam {
    grid-template-columns: 1fr;
  }
  .pluses-webcam-text {
    font-size: 16px;
    line-height: 140%;
    margin-top: 20px;
  }
  .pluses-webcam-item {
    margin-bottom: 40px;
  }
  .pluses-webcam-col:nth-child(3) {
    padding-top: 40px;
  }
  .adventages-crown-block {
    display: none;
  }
  .adventages-work {
    display: flex;
    flex-direction: column;
  }
  .adventages-text-right {
    margin-left: 0;
  }
  .calculator-earn {
    width: 72.5%;
    height: 570px;
    margin-left: 80px;
  }
  .calculator-button-item label {
    height: 50px;
    padding-top: 12px;
    font-size: 22px;
    line-height: 26px;
  }
  #calculator-earn-for div label {
    font-size: 16px;
    line-height: 19px;
    padding-top: 15px;
  }
  .calculator-label {
    font-size: 18px;
    line-height: 21px;
  }
  .calculator-earn-text {
    font-size: 14px;
    line-height: 140%;
    padding-top: 26px;
  }
  .adventages-text-list {
    display: grid;
    align-content: space-between;
    height: 2478px;
  }
  .adventages-text-item {
    width: 358px;
    margin-left: auto;
  }
  .adventages-text-h {
    font-size: 24px;
    line-height: 26px;
  }
  .adventages-text-item-p {
    font-size: 16px;
    line-height: 140%;
    margin-top: 13px;
  }
  .start-work-number {
    font-size: 130px;
    line-height: 144px;
    min-width: 80px;
  }
  .start-work-text {
    font-size: 16px;
    line-height: 140%;
  }
  .start-work-item {
    width: 320px;
  }
  .start-work-list {
    flex-wrap: nowrap;
    height: auto;
    align-items: center;
  }
  .start-work-button {
    width: 88%;
    font-size: 16px;
    line-height: 18px;
    margin-top: 9px;
  }
  #video-play {
    max-width: 60px;
    max-height: 60px;
    width: auto;
    height: auto;
    background-size: cover;
  }
  #video {
    height: 250px;
  }

  .contacts-adress {
    font-size: 16px;
    line-height: 140%;
  }

  .footer-text {
    font-size: 16px;
    line-height: 19px;
  }
  .privacy {
    font-size: 16px;
    line-height: 19px;
  }

  .burger-form {
    height: 610px;
  }
  .burger-header {
    height: 45px;
  }
  .burger-container {
    max-width: 440px;

    width: auto;
    background-position: 50%;
    background-size: contain;
  }
  .burger-section-container {
    width: 393px;
  }
  .burger-section-link {
    font-size: 16px;
    line-height: 140%;
  }
  .burger-section-list {
    width: 90%;
  }

  #start-form {
    width: 480px;
    height: 775px;
  }

  .start-form-h {
    font-size: 26px;
    margin-bottom: 9px;
  }
  .start-form-data-item {
    width: 130px;
  }
  .start-form-input-text {
    height: 40px;
  }
  .button {
    height: 40px;
  }
  .lvl-radio-btn label {
    height: 40px;
  }
  .start-form-send-block {
    width: 320px;
    height: 114px;
  }
  .start-form-send {
    width: 100%;
    height: 60px;
    font-size: 20px;
    line-height: 23px;
  }
  .start-form-privacy {
    font-size: 16px;
    line-height: 140%;
  }
}

@media screen and (max-width: 479px) {
  .container {
    width: 320px;
  }
  .vertical-lines {
    width: 320px;
  }
  .header-index {
    width: 320px;
  }
  .main-imperium-name {
    height: 128px;
    margin: 50px 0;
  }
  .main-imperium-name-h1 {
    font-size: 82px;
    line-height: 91px;
  }
  .main-imperium-name h2 {
    font-size: 28px;
    line-height: 50px;
  }
  .about-imperium-text {
    height: 170px;
  }
  .section-header {
    display: flex;
  }
  .section-header-number {
    margin-right: 17px;
    margin-left: 0;
  }
  .section-header-description {
    font-size: 24px;
  }
  .header-hr {
    width: 88%;
  }
  .photo-carusel-list {
    height: 280px;
  }
  .slick-slide {
    width: 201px;
  }
  .kate-photo {
    width: 201px;
    height: 280px;
  }
  .your-teacher-text-block {
    height: 744px;
  }

  .medal-img {
    width: 160px;
    height: 160px;
  }
  .about-webcam-text {
    height: 390px;
  }
  .center-text-block:nth-child(1) .center-text-p {
    font-size: 16px;
  }
  .about-slider {
    width: 100%;
  }
  .about-slider .slick-slide {
    width: 280px;
  }
  .about-studio-text {
    height: 456px;
  }
  .pluses-webcam-col {
    width: 100%;
  }
  .calculator-earn {
    width: 100%;
    margin-left: 0;
  }
  .adventages-text-list {
    height: 2588px;
  }
  #video {
    height: 183px;
  }
  .burger-section-container {
    width: 326px;
  }
  #start-form {
    position: absolute;
    overflow: auto;

    max-height: 920px;
    width: 100%;
    height: 100%;
  }
  .start-form-container {
    display: flex;
    flex-direction: column;
    width: 91%;
    height: 100%;
    justify-content: space-between;
    padding: 0;
    padding-top: 50px;
    padding-bottom: 10px;
  }
  .start-form-h {
    font-size: 26px;
    margin-bottom: 9px;
  }
  .start-form-data-list {
    flex-wrap: wrap;
    height: auto;
  }
  .start-form-data-item {
    width: 45%;
    height: 72px;
  }

  .start-form-data-item:nth-child(3),
  .start-form-data-item:nth-child(6) {
    margin-top: 30px;
  }
  .start-form-input-text {
    height: 40px;
  }
  .button {
    height: 40px;
  }
  #button-17 .checkbox:checked + .knobs span {
    left: 50%;
  }
  #button-17 .knobs:before,
  #button-17 .knobs span {
    width: 50%;
  }
  #button-17 .checkbox:checked + .knobs:before {
    left: 50%;
  }
  .lvl-radio-btn label {
    height: 40px;
  }
  .start-form-send-block {
    width: 100%;
    height: 114px;
  }
  .start-form-send {
    width: 100%;
    height: 60px;
    font-size: 20px;
    line-height: 23px;
  }
  .start-form-privacy {
    font-size: 16px;
    line-height: 140%;
  }
}
